#one{
    background-color:red;
    position:absolute;
    top:20px;
    z-index:8;
}
#two{
    background-color:blue;
    position:absolute;
    left: 20px;
    top: 20px;
    z-index:6;
}
.box{
    width: 200px;
    height: 200px;
    margin-bottom: 20px;
}